body {
    background: url(https://cdn.wallpapersafari.com/38/13/sQtEFD.png);
  }

.jumbotron {
  font-family: 'Rampart One';font-size: 22px;
  letter-spacing: 2px;
  color: aliceblue;
  background: linear-gradient(#a501ce, #230163);
}

#new-game {
    font-size: 20px;
    color: white;
    background: linear-gradient(0.25turn, #81199b, #7236d3, #3f87a6);
    border: none;
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
}
#new-hand {
    font-size: 20px;
    color: white;
    background: linear-gradient(0.25turn, #3f87a6, #6921dd, #9820b6);
    border: none;
    border-radius: 5px;
}
#next-turn {
    font-size: 20px;
    color: white;
    background: linear-gradient(0.25turn, #5dabcc, #7236d3, #861da0);
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}
#new-game:hover {
    transform: rotate3d(1, 1, 1, -45deg);
    background: linear-gradient(0.25turn, #5dabcc, #7236d3, #861da0);
    transition: all 1s;
}
#new-hand:hover {
    /* transform: translate3d(5px, 20px, 10px) rotate3d(1, 1, 1, 30deg); */
    transform: rotateY(150deg);
    backface-visibility: visible;
    transition: all 1.5s;
}
#next-turn:hover {
    transform: rotate3d(1, 1, 1, 35deg);
    background: linear-gradient(0.25turn, #81199b, #7236d3, #3f87a6);
    transition: all 1s;
}
#next-turn:hover::after {
    content: "✓"
}
label {
    color: white;
    background: linear-gradient(0.25turn, #3f87a6, #6921dd, #9820b6);
    font-size: medium;
    margin: 10px;
    border-radius: 5px;
}
#player1 {
    background: white;
}
#player2 {
    background: white;
}
#player1-score {
    color: white;
}
#player2-score {
    color: white;
}

#shake:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

#shake {
  animation: shake 1s infinite;
}

@keyframes shake {
  0% { transform: translate(0px); }
  25% { transform: translate(5px); }
  50% { transform: translate(0px); }
  75% { transform: translate(5px); }
  100% { transform: translate(0px); }
}